#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wordle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wordle-rows {
  display: grid;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  align-items: center;
}

.row-letter {
  border-radius: 5px;
  font-size: 2rem;
  min-width: 3rem;
  min-height: 3rem;
  margin: 0.5rem;
}

.wordle-keyboard {
}

.wordle-keyboard-row button {
  border-radius: 5px;
  font-size: 2rem;
  min-width: 3rem;
  min-height: 3rem;
  margin: 0.5rem;
  border: 0px;
  cursor: pointer;
}
