#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wordle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wordle-rows {
  display: grid;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  align-items: center;
}

.row-letter {
  border-radius: 5px;
  font-size: 2rem;
  min-width: 3rem;
  min-height: 3rem;
  margin: 0.5rem;
}

.wordle-keyboard-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.wordle-keyboard-row button {
  border-radius: 5px;
  font-size: 2rem;
  min-width: 3rem;
  min-height: 3rem;
  margin: 0.5rem;
  border: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wordle-keyboard-row img {
  width: 1.8rem;
  height: 1.8rem;
}

@media (max-width: 1000px) {
  .wordle-keyboard-row button {
    min-width: 2.5rem;
    min-height: 2.5rem;
    margin: 0.4rem;
  }
}

@media (max-width: 800px) {
  .wordle-keyboard-row button {
    font-size: 1.5rem;
    min-width: 2rem;
    min-height: 2rem;
    margin: 0.2rem;
  }
  .wordle-keyboard-row img {
    width: 1.4rem;
    height: 1.4rem;
  }
}
